{% extends "page.njk" %}

{% block content %}
    <div class="c-section">
        <div class="o-container">
            <div class="c-section__description c-section__content">
                <p>Vous allez être redirigé vers la page <a href="{{ to }}">« {{ title }} »</a>.
            </div>
        </div>
    </div>
{% endblock %}